<h1>Achieveでお問い合わせを受付しました！</h1>

<h4>name: <%= @contact.name %></h4>
<p>email: <%= @contact.email %></p>
<p>content: <%= @contact.content %></p>

<p>
  <%= link_to '投稿されたお問い合わせはこちら', contacts_path %>
</p>
